*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width: 100%;
    background-color: black;
}
.grid{
    width:400px;
    height: 600px;
    background-color:aqua;
    position:relative;
    overflow:hidden;
    margin:200px auto;
}
.doodler{
    height:100px;
    width:100px;
     /* background-color: red;  */
    position:absolute;
    background-image: url("./images/pngegg.png");
    background-size:cover;
    background-position:center;
    transition: left 0.1s ease-in-out;
    /* overflow:hidden */
    /* transition: bottom 0.3s ease-in-out ; */
}
.platform{
    width:80px;
    height:20px;
    background-color: green;
    position: absolute;
}
.score{
    font-size: 2rem;
    position: absolute;
    width:100%;
    text-align:center;
    bottom:50%;
}
.score::after{
    display:block;
    content: "Refresh to play again";
    font-size:1rem;
}
.score-nav{
    font-size: 1rem;
    position:absolute;
    left:90%;
    bottom:90%;
}